<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AuditResults</title>
</head>
<body>
<h1>AuditResults</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Process</th>
        <th>TypeFind</th>
        <th>Find</th>
        <th>Conclusion</th>
        <th>Observation</th>
    </tr>
    <tr th:each="auditResults:${audits}">
        <td th:text="${auditResults.id}">100</td>
        <td th:text="${auditResults.process}">Process</td>
        <td th:text="${auditResults.typeFind}">Type Find</td>
        <td th:text="${auditResults.find}">Find</td>
        <td th:text="${auditResults.conclusion}">Conclusion</td>
        <td th:text="${auditResults.observation}">Observation</td>

    </tr>
</table>
</body>
<