<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Audits</title>
</head>
<body>
<h1>Audits</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Objective</th>
        <th>Scope</th>
        <th>AuditCriteria</th>
        <th>AuditTeam</th>
        <th>DateStart</th>
        <th>DateFinish</th>
    </tr>
    <tr th:each="audits:${audits}">
        <td th:text="${audits.id}">100</td>
        <td th:text="${audits.objective}">Objective</td>
        <td th:text="${audits.scope}">Scope</td>
        <td th:text="${audits.auditCriteria}">Audit Criteria</td>
        <td th:text="${audits.auditTeam}">Audit Team</td>
        <td th:text="${audits.dateStart}">Date Start</td>
        <td th:text="${audits.dateFinish}">Date Finish</td>

    </tr>
</table>
</body>
<