<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error page</title>
</head>
<body>
<h1>Error page</h1>
<h1 th:text="${exception.message}">error code</h1>
</body>
</html>
