<!--Marvin Dickson Mendia Calizaya-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Positions</title>
</head>
<body>
<h1>Positions List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Skill</th>
        <th>Roles</th>
    </tr>
    <tr th:each="positions:${positions}">
        <td th:text="${positions.id}">123</td>
        <td th:text="${positions.name}">Position Name</td>
        <td th:text="${positions.skill}">Skill</td>
        <td th:text="${positions.roles}">Rol</td>

    </tr>
</table>
</body>
</html>