<!--Marvin Dickson Mendia Calizaya-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Traininies</title>
</head>
<body>
<h1>Traininies</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Area</th>
    </tr>
    <tr th:each="traininies:${traininies}">
        <td th:text="${traininies.id}">123</td>
        <td th:text="${traininies.dateTraining}">Training Fecha</td>
        <td th:text="${traininies.area}">Training Area</td>
    </tr>
</table>
</body>
</html>