<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Type Contract</title>
</head>
<body>
<h1>Type Contract List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Type Contract</th>
        <th>Description</th>
        <th>Responsable</th>

    </tr>
    <tr th:each="typeContract:${typeContract}">
        <td th:text="${typeContract.id}"></td>
        <td th:text="${typeContract.typeContract}"></td>
        <td th:text="${typeContract.description}"></td>
        <td>
            <table>
                <tr th:each="contract:${typeContract.contracts}">
                    <td th:text="${contract.id}"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>